* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  font-size: clamp(1rem, 1.2vmax, 3rem);
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  --accent-color: #304FFE;
  --light-shade: rgba(var(--text-color), 0.06);
  --text-color: 17, 17, 17;
  --text-color-light: 100, 100, 100;
  --foreground-color: 255, 255, 255;
  --background-color: #F6f6f6;
  --error-color: red;
  --green: #00843b;
  color: rgba(var(--text-color), 1);
  background: var(--background-color);
  display: flex;
  flex-direction: column;
}

body[data-theme=dark] {
  --accent-color: #2353FF;
  --green: #13ff5a;
  --text-color: 240, 240, 240;
  --text-color-light: 170, 170, 170;
  --foreground-color: 20, 20, 20;
  --background-color: #0a0a0a;
  --error-color: rgb(255, 106, 106);
}

main {
  flex: 1;
}

.full-bleed {
  grid-column: 1/4;
}

.h1 {
  font-size: 2.5rem;
}

.h2 {
  font-size: 2rem;
}

.h3 {
  font-size: 1.4rem;
}

.h4 {
  font-size: 1rem;
}

.h5 {
  font-size: 0.8rem;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

p {
  font-size: 0.8;
  max-width: 60ch;
  line-height: 1.7;
  color: rgba(var(--text-color), 0.8);
}
p:not(:last-of-type) {
  margin-bottom: 1rem;
}

img {
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}
a:focus-visible {
  box-shadow: 0 0 0 0.1rem rgba(var(--text-color), 1) inset;
}

button {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  background: none;
  cursor: pointer;
  outline: none;
  color: inherit;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 0.2rem;
  padding: 0.5rem 0.6rem;
  -webkit-tap-highlight-color: transparent;
  border: none;
}

button:focus-visible {
  outline: rgba(var(--text-color), 1) 0.1rem solid;
}

a.button:any-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  background: none;
  cursor: pointer;
  outline: none;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  padding: 0.5rem 0.6rem;
  align-self: flex-start;
  text-decoration: none;
  color: rgba(var(--text-color), 0.7);
  -webkit-tap-highlight-color: transparent;
  background-color: rgba(var(--text-color), 0.06);
}
a.button:any-link .icon {
  margin-right: 0.3rem;
  height: 1.2rem;
}

a:any-link:focus-visible {
  outline: rgba(var(--text-color), 1) 0.1rem solid;
}

.button {
  background-color: rgba(var(--text-color), 0.06);
}

sm-button {
  --border-radius: 0.3rem;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.hide-completely {
  display: none !important;
}

.no-transformations {
  transform: none !important;
}

.overflow-ellipsis {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.breakable {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flow-column {
  grid-auto-flow: column;
}

.gap-0-5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-1-5 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.text-align-right {
  text-align: right;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-right {
  margin-left: auto;
}

.align-self-center {
  align-self: center;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-start {
  justify-self: start;
}

.direction-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  background: rgba(var(--text-color), 0.16);
  pointer-events: none;
}

.interact {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.observe-empty-state:empty {
  display: none;
}

.observe-empty-state:not(:empty) ~ .empty-state {
  display: none;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: rgba(var(--text-color), 0.9);
}

.button__icon {
  height: 1.2rem;
  width: 1.2rem;
}
.button__icon--left {
  margin-right: 0.5rem;
}
.button__icon--right {
  margin-left: 0.5rem;
}

.page-layout {
  position: relative;
  display: grid;
  grid-template-columns: 1rem minmax(0, 1fr) 1rem;
}
.page-layout > * {
  grid-column: 2/3;
}

.popup__header {
  display: grid;
  gap: 0.5rem;
  width: 100%;
  padding: 0 1.5rem 0 0.5rem;
  align-items: center;
  grid-template-columns: auto 1fr;
}

.popup__header__close {
  padding: 0.5rem;
  cursor: pointer;
}

.button--primary {
  color: white;
  font-weight: 500;
  padding: 0.5rem 1.2rem;
  background-color: var(--accent-color);
}

.auto-grid-2 {
  gap: 2rem;
  grid-template-columns: 1fr;
}

#loading_page,
#error_page {
  position: relative;
  display: grid;
  height: 100%;
  place-content: center;
  justify-items: center;
}

#main_header {
  position: relative;
  display: grid;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  grid-template-columns: 1fr auto auto;
}
#main_header a.button {
  font-size: 0.9rem;
  font-weight: 500;
  border: solid thin var(--accent-color);
}

#main_header__logo {
  height: 1.8rem;
  width: 1.8rem;
}

.theme-switcher {
  position: relative;
  justify-self: flex-end;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.theme-switcher .icon {
  position: absolute;
  transition: transform 0.6s;
}

.theme-switcher__checkbox {
  display: none;
}
.theme-switcher__checkbox:checked ~ .moon-icon {
  transform: scale(0) rotate(90deg);
}
.theme-switcher__checkbox:not(:checked) ~ .sun-icon {
  transform: scale(0) rotate(-90deg);
}

.page {
  padding-bottom: 3rem;
}

.page__title {
  font-size: 2rem;
}

#search_section {
  position: relative;
  display: grid;
  gap: 0.5rem 0;
  padding: 4rem 0;
  justify-items: center;
}

.app-icon {
  height: 3rem;
  width: 3rem;
}

.app-icon-loader {
  fill: none;
  stroke-width: 2;
  justify-self: center;
  stroke-dasharray: 202;
  margin: 2rem 0;
  stroke: rgba(var(--text-color), 1);
  animation: stroke-anim 2s infinite alternate;
}

@keyframes stroke-anim {
  0% {
    stroke-dashoffset: 202;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.app-name {
  font-weight: 500;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: rgba(var(--text-color), 0.7);
}

.search-container {
  position: relative;
  margin-bottom: 1rem;
  width: min(28rem, 100%);
}

.search-torrent {
  --border-radius: 2rem;
  --background: rgba(var(--text-color), 0.06);
}
.search-torrent .icon {
  height: 1.2rem;
  fill: rgba(var(--text-color), 0.7);
}

.search-suggestions-container {
  top: 100%;
  position: absolute;
  z-index: 1;
  width: 100%;
  border-radius: 1rem;
  margin-top: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.2);
  background-color: rgba(var(--foreground-color), 1);
}
.search-suggestions-container:not(:empty) {
  padding: 0.5rem 0;
}

.search-suggestion {
  display: flex;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0.8rem 1rem;
  color: rgba(var(--text-color), 0.8);
  outline: none;
}
.search-suggestion:focus, .search-suggestion:active {
  outline: none;
  border: 0;
}
.search-suggestion:focus, .search-suggestion:focus-visible {
  outline: transparent;
  background-color: rgba(var(--text-color), 0.1);
}
.search-suggestion span {
  font-weight: 450;
}
.search-suggestion pre {
  white-space: pre-wrap;
}

.torrent-container {
  padding: 1.5rem 0;
  display: grid;
  gap: 0.5rem;
  padding-bottom: 4rem;
}

.torrent-card {
  display: grid;
  gap: 0 1rem;
  align-items: center;
  grid-template-columns: 1fr auto;
  padding: 1rem;
  border-radius: 0.3rem;
  -webkit-tap-highlight-color: transparent;
  background-color: rgba(var(--text-color), 0.06);
}
.torrent-card .torrent-info {
  gap: 0 1rem;
  grid-template-columns: auto 1fr;
  grid-template-areas: "torrent-icon ." "torrent-icon .";
}
.torrent-card .torrent-type-icon {
  padding: 0.8rem;
}
.torrent-card__icon {
  grid-area: torrent-icon;
}
.torrent-card__icon .icon {
  height: 1.4rem;
  width: 1.4rem;
}
.torrent-card__title {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.torrent-card__tags, .torrent-card__uploader {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.85rem;
  color: rgba(var(--text-color), 0.7);
}
.torrent-card__download-button {
  justify-self: flex-end;
  background-color: rgba(var(--text-color), 0.1);
}
.torrent-card__download-button .icon {
  height: 1.4rem;
  margin-right: 0.5rem;
}

.progress-indicator {
  position: relative;
  justify-self: flex-end;
  height: 2.3rem;
  padding: 0 0.6rem;
}

.progress-percent {
  font-size: 0.9rem;
  font-weight: 500;
  color: rgba(var(--text-color), 0.8);
  width: 9ch;
  text-align: right;
}

.progress-loader,
.placeholder-loader {
  height: 1.2rem;
  width: 1.2rem;
  fill: none;
  padding: 0.1rem;
  stroke-width: 12;
  overflow: visible;
}

.progress-loader {
  stroke-dasharray: 201;
  stroke-dashoffset: 201;
  transform: rotate(-90deg);
  stroke: var(--accent-color);
  transition: stroke-dashoffset 0.3s;
  z-index: 1;
}

.placeholder-loader {
  position: absolute;
  stroke: rgba(var(--text-color), 0.1);
}

.torrent-preview {
  display: grid;
  justify-content: center;
}

.torrent-preview__info-section {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.torrent-type-icon {
  display: flex;
  padding: 1rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  background-color: var(--accent-color);
}
.torrent-type-icon .icon {
  fill: white;
}

#torrent_type_icon {
  align-self: center;
  justify-self: center;
  padding: 2rem;
  margin: 3rem 0 4rem 0;
  background-color: rgba(var(--text-color), 0.06);
}
#torrent_type_icon .icon {
  height: 3rem;
  width: 3rem;
  fill: rgba(var(--text-color), 0.3);
}

#torrent_tags,
#torrent_uploader {
  display: flex;
  width: 100%;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
  color: rgba(var(--text-color), 0.8);
}

#torrent_name {
  line-height: 1.1;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

#torrent_description {
  font-size: 1rem;
  color: rgba(var(--text-color), 0.8);
}

#torrent_uploader {
  font-weight: 500;
  margin: 1.5rem 0 1rem 0;
  width: auto;
  border-radius: 1.5rem;
  padding: 0.3rem 0.8rem;
  align-self: flex-start;
  background-color: rgba(var(--text-color), 0.1);
}

#download_container {
  display: flex;
  align-items: center;
  height: 3rem;
  margin-top: 2rem;
}

#torrent_download_button {
  align-self: flex-start;
  color: white;
  flex-shrink: 0;
  padding: 0.7rem;
  justify-content: center;
  background-color: var(--accent-color);
}
#torrent_download_button .icon {
  fill: white;
  margin-right: 0.5rem;
}

#torrent_index_tx {
  padding: 0.4rem;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  align-self: flex-start;
  border: solid var(--accent-color) thin;
}
#torrent_index_tx .icon {
  height: 1.2rem;
  margin-right: 0.5rem;
}

#advance_search_section {
  align-items: flex-start;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

#filters_bar {
  padding: 0.5rem 0;
}

sm-option {
  font-size: 0.9rem;
}

#filter_popup {
  --width: min(32rem, 100%);
}

.option-selector {
  padding: 1rem 0;
}

.filter-option {
  display: inline-flex;
  margin: 0 0.5rem 0.8rem 0;
  -webkit-tap-highlight-color: transparent;
}
.filter-option input {
  display: none;
}
.filter-option input:checked ~ .option-text {
  color: rgba(255, 255, 255, 0.9);
  background-color: var(--accent-color);
  border: solid var(--accent-color) thin;
}
.filter-option .option-text {
  cursor: pointer;
  font-weight: 500;
  font-size: 0.95rem;
  user-select: none;
  border-radius: 0.3rem;
  padding: 0.3rem 0.6rem;
  transition: background-color 0.3s;
  color: rgba(var(--text-color), 0.8);
  border: solid rgba(var(--text-color), 0.2) thin;
}

#filters_bar {
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
  align-items: flex-start;
  grid-template-columns: minmax(0, 1fr) auto;
}

.selected-filter {
  user-select: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  padding: 0.4rem 0.5rem;
  margin: 0 0.5rem 0.8rem 0;
  border: solid rgba(var(--text-color), 0.2) thin;
  border-radius: 0.3rem;
}
.selected-filter .icon {
  height: 1.2rem;
  width: 1.2rem;
}

#page_selector strip-option,
#search_page_selector strip-option {
  --border-radius: 0.3rem;
  --active-option-color: white;
  --active-option-backgroud-color: var(--accent-color);
}

#how_it_works {
  padding-bottom: 8rem;
}
#how_it_works .page__title {
  margin: 6rem 0 1rem 0;
}

.info-section {
  display: grid;
  gap: 1.5rem;
  margin-top: 3rem;
  align-items: center;
  grid-template-columns: 1fr;
}

.info__title {
  margin-bottom: 1rem;
}

#main_footer {
  padding: 2rem 0;
  background-color: rgba(var(--text-color), 0.06);
}

@media only screen and (max-width: 640px) {
  .torrent-card {
    grid-template-columns: 1fr;
  }
  .torrent-card__icon {
    margin: 0;
  }
  .torrent-card__title {
    font-size: 0.95rem;
  }
  .torrent-card__tags, .torrent-card__uploader {
    font-size: 0.7rem;
  }
  .torrent-card__download-button,
.torrent-card .progress-indicator {
    margin-top: 1rem;
  }

  #torrent_tags {
    font-size: 0.8rem;
  }

  #torrent_download_button,
#loader_container {
    width: 100%;
    justify-content: center;
  }
}
@media only screen and (min-width: 640px) {
  .popup__header {
    padding: 1.5rem 1.5rem 0 0.5rem;
  }

  .auto-grid-2 {
    grid-template-columns: 1fr 1fr;
  }

  .page-layout {
    grid-template-columns: 1fr 90vw 1fr;
  }

  #main_header {
    padding: 1.5rem;
  }

  .page__title {
    font-size: 3rem;
  }

  .torrent-card {
    padding: 1.5rem;
  }

  .torrent-preview {
    gap: 3rem;
  }

  #torrent_name {
    font-size: 4rem;
    max-width: 16ch;
  }

  .info-section {
    grid-template-columns: 1fr 1fr;
  }
  .info-section:nth-of-type(even) .info__image {
    grid-column: 2/3;
  }
  .info-section:nth-of-type(even) .textual-info {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}
@media only screen and (min-width: 1280px) {
  .page-layout {
    grid-template-columns: 1fr 80vw 1fr;
  }
}
@media (any-hover: hover) {
  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(var(--text-color), 0.3);
    border-radius: 1rem;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--text-color), 0.5);
  }

  .search-suggestion:hover {
    background-color: rgba(var(--text-color), 0.1);
  }
}